---
layout: default
---

<div class="home">

  <h1> Category <span class="button" onclick="setTimeFormat()">↻</span></h1>
  <select id="categories" onchange="setTimeFormat()">
  </select>
  <br>
  <span class="button" onclick="addNewCategory()"> Add new category </span>
  <br><br>

  <h2>Add new game</h2>
  <select id="new-game-first" class='user-dropdown'>
  </select>
  <select id="new-game-second" class='user-dropdown'>
  </select>
  <select id="new-game-score">
    <option value="1.0">1-0</option>
    <option value="0.5">½-½</option>
    <option value="0.0">0-1</option>
  </select>

  <button id="new-game-button" onclick="addNewGame();">Save</button>

  <br>
  <span class="button" onclick="addNewUser()"> Add new player </span>

  <br><br>

  <h1> Scoreboard </h1>
  <table id="user-rating">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>ELO rating</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>


  <h1> Games <span class="button" onclick="deleteLastGame()">✘</span></h1>
  <table id="recent-games">
    <thead>
      <tr>
        <th>Time</th>
        <th>White</th>
        <th>Black</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <h1> ELO rating chart <span class="button" onclick="loadChart(true)">⌚</span> <span class="button" onclick="loadChart(false)">#</span></h1>
  <canvas id="elo-chart"></canvas>
</div>

<script>
    let categories = new Categories(JSON_URL + CATEGORIES_JSON_ID);
    categories.fetch(loadCategoryDropdown);
    let api = new Api(JSON_URL + DEFAULT_JSON_ID);
</script>
